/*Testimoni*/
html {
  scroll-behavior: smooth;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: rgb(98, 59, 31);
  background-image: url(../images/bg.png);
  background-size: cover;
  background-repeat: repeat;
}
.slider {
  margin-bottom: 30px;
  position: relative;
}
.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot {
  height: 5px;
  width: 5px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}
.owl-dots .owl-dot.active {
  background: #521e1a !important;
}

.slider-card {
  display: flex;
  align-items: center;
  padding: 0px 0px;
  margin: 0px 15px 20px 15px;
  box-shadow: 0 15px 40px -30px rgb(0 0 0 / 73%);
  transform: scale(1);
  background: white;
}
.slider-card img {
  max-height: 600px;
  max-width: 100px;
}
.slider-card-text {
  flex: 1;
}
.slider-card p {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 11px;
  margin: 0;
}
.testimoni-header {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
/*Testimoni*/

/*Tentang*/
.header {
  margin: 30px 0;
}

.tentang-header {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.about-container {
  display: flex;
  align-items: center;
}

.image {
  flex: 0 0 20%;
  max-width: 100%;
  align-items: center;
}

.image img {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
}

.img-hover:hover {
  transform: scale(1.1);
}

.description {
  flex: 0 0 80%;
  max-width: 100%;
  padding-left: 30px;
}

.header-content {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}

.description-content {
  font-size: 11px;
}
footer {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 11px;
  text-align: center;
}
.description {
  text-align: justify;
  padding-left: 20px;
}
/*Tentang*/


/* CAROUSEL & SHOP ICONS */
/* *{
    background-color: black;
} */

/* Carousels Style */

#carouselExampleIndicators .carousel-item img{  
  object-fit: fill;
  object-position: center;
  overflow: hidden;
  height:80vh;
}

@media only screen and (max-width: 600px) {
  #carouselExampleIndicators .carousel-item img{
      height:30vh;
  }

}

/* Sticky Social Media Bar Styles */
/* tes */
/* Set the position of the shop CTA icon */
#shop-cta {
  position: fixed;
  bottom: 15%;
  right: 1.5%;
  z-index: 9999;
}

#shop-cta>a, #shop-cta>img{
margin-bottom: 5px;
}

/* Customize the shop CTA icon */
.shop-icon {
  display: block;
  width: 35px;
  height: 35px;
  object-fit: fill;
  object-position: center;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
      #shop-cta{
          right: 5%;
      }
  }

.shop-icon.plus{
  cursor: pointer;
  background-color: #d9d9d979;
  border-radius: 50%;
}
      



